################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppDev-Round1/ConsoleApp1
/AppDev-Round1/AppDev-Round1/bin/Debug/net8.0-windows
/AppDev-Round1/JSON Deserializer Class/obj/Debug/net8.0/JSON Deserializer Class.AssemblyInfo.cs
/AppDev-Round1/JSON Deserializer Class/obj/Debug/net8.0/JSON Deserializer Class.AssemblyInfoInputs.cache
/AppDev-Round1/JSON Deserializer Class/obj/JSON Deserializer Class.csproj.nuget.dgspec.json
/AppDev-Round1/JSON Deserializer Class/obj/project.assets.json
/AppDev-Round1/JSON Deserializer Class/obj/project.nuget.cache
.vs/
[Bb]in/
AppDev-Round1/.vs
AppDev-Round1/obj
/AppDev-Round1/AppDev-Round1/obj/Debug/net8.0-windows/AppDev-Round1.AssemblyInfo.cs
/AppDev-Round1/.vs/AppDev-Round1/FileContentIndex/b3a9676e-1f12-474e-a1d5-33c42ab4e547.vsidx
/AppDev-Round1/.vs/AppDev-Round1/FileContentIndex/37549082-983f-4bb6-8d68-bba851ce5d4a.vsidx
/AppDev-Round1/.vs/AppDev-Round1/FileContentIndex/02e14fb3-5bc6-4924-82c9-15e59551bc48.vsidx
/AppDev-Round1/AppDev-Round1/obj/Debug/net8.0-windows/AppDev-Round1.AssemblyInfoInputs.cache
/AppDev-Round1/AppDev-Round1/obj/Debug/net8.0-windows/AppDev-Round1.assets.cache
/AppDev-Round1/AppDev-Round1/obj/Debug/net8.0-windows/AppDev-Round1.designer.deps.json
/AppDev-Round1/AppDev-Round1/obj/AppDev-Round1.csproj.nuget.dgspec.json
/AppDev-Round1/AppDev-Round1/obj/AppDev-Round1.csproj.nuget.g.targets
/AppDev-Round1/AppDev-Round1/obj/project.assets.json
/AppDev-Round1/AppDev-Round1/obj/project.nuget.cache
/AppDev-Round1/AppDev-Round1/obj/Debug/net8.0-windows
/AppDev-Round1/.vs/AppDev-Round1/DesignTimeBuild/.dtbcache.v2
/AppDev-Round1/.vs/AppDev-Round1/v17/.suo
/AppDev-Round1/.vs/AppDev-Round1/v17/DocumentLayout.backup.json
/AppDev-Round1/.vs/AppDev-Round1/v17/DocumentLayout.json
